<%- include('../partials/head.ejs') %>
    <link href="/styles/brands.css" rel="stylesheet">

    <%- include('../partials/header.ejs') %>

        <main>

            <section class="allBrands">

                <h3>NUESTRAS MARCAS</h3>

                <div class="brands-list"> 
                    <% brands.forEach(brand => { %>
                
                        <article class="brandCard">

                            <div>
                                <a href="/brands/<%= brand.brand_name %>"><img src="/img/brands/SOUNDBOX-BRAND-BOSS.png" alt="BOSS"></a><!-- Pendiente dinámica para que se vean las imágenes de las otras 6 marcas en orden alfabético -->
                            </div>
                            <div>
                                <a href="#">VER PRODUCTOS</a>
                            </div>
        
                        </article>
                    <% }) %>
        
            </section>

        </main> 
    
    <!-- Cierre del archivo brandsList.ejs -->

    <%- include('../partials/footer.ejs') %>