<!-- ADAPTAR EN 'brandsList.ejs', APLICAR DINÁMICA JS Y LUEGO BORRAR ESTE ARCHIVO -->
<!-- ESTE ARCHIVO ES SIMPLEMENTE UNA GUÍA PARA ADAPTAR LA VISTA DE TODAS LAS MARCAS SOUNDBOX -->

    <%- include('../partials/head.ejs') %>
    <link href="/styles/brands.css" rel="stylesheet">

    <%- include('../partials/header.ejs') %>

     <!-- Lo siguiente es el código HTML base / guía para aplicar código dinámico JS en archivo brandsList.ejs -->

     <main>

        <section class="allBrands">

            <h3>NUESTRAS MARCAS</h3>

            <div class="brands-list"> 
                <% brands.forEach(brand => { %>
            
                    <article class="brandCard">

                        <div>
                            <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-BOSS.png" alt="BOSS"></a>
                        </div>
                        <div>
                            <a href="#">VER PRODUCTOS</a>
                        </div>
    
                    </article>
                <% }) %>
                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-BOSS.png" alt="BOSS"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>

                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-DAddario.png" alt="DAddario"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>
                
                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-Epiphone.png" alt="Epiphone"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>

                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-Gibson.png" alt="Gibson"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>

                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-Marshall.png" alt="Marshall"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>

                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-Yamaha.png" alt="Yamaha"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>

                <article class="brandCard">

                    <div>
                        <a href="#"><img src="/img/brands/SOUNDBOX-BRAND-Zildjian.png" alt="Zildjian"></a>
                    </div>
                    <div>
                        <a href="#">VER PRODUCTOS</a>
                    </div>

                </article>
            </div>
    
        </section>

    </main> 
    
    <!-- Cierre del archivo brandsList.ejs -->

    <%- include('../partials/footer.ejs') %>