:root {
	/* Paleta primaria */
	--orange-color: #ff540a;
	--black-color: #000;
	--curuba-color: #ffd4c2;
	/* Paleta secundaria */
	--DarkBlue-color: #03254e;
	--RedWine-color: #550c18;
	--BlueGray-color: #404e5c;
	--OlivenGreen-color: #545643;
	--Tan-color: #b7b3a1;
	--LightGray: #e6e6e6;
	/* Otros colores */
	--white-color: #fff;
	--transparent-color: #0000;
}

/* ETIQUETAS UNIVERSALES */
* {
	text-decoration: none;
	box-sizing: border-box;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	min-width: 0;

	/* se lo aplique al scroll de todas las vistas si quieren ver cambios sobre alguna sona especifica en su vista entoncen pongan estas propiedades y modifiquenlas como quieran en la vista necesaria, se modifica segun que tenga la propiedad de overflow*/
	scrollbar-color: var(--orange-color) var(--transparent-color); /* el primer color seria el de la barra el segundo el fondo de la barra  */
	scrollbar-width: thin; /* con esta propiedad manejamos el ancho de la barra tenemos tres propiedades thin, auto y none */
	&::-webkit-scrollbar {
		width: 7px;
	}
}

html {
	scroll-behavior: smooth;
}

/* ETIQUETAS DEL BODY */

body {
	min-height: 100dvh;
	font-family: "Montserrat", sans-serif;
	font-size: 0.875rem;
	background: #fff;
	background: #e3e3e3;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}

ul,
ol {
	list-style: none;
}

/* ETIQUETAS DE TEXTO */

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

h1 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-size: 3rem;
}

h2 {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-size: 2rem;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 1.4rem;
	padding-top: 1rem;
}

h4 {
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}

h5 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.3125rem;
}

h6 {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 1.125rem;
}

p {
	font-family: "Montserrat", sans-serif;
	font-size: 1.125rem;
	text-wrap: pretty;
}

a:link,
a:visited,
a:hover,
a:active {
	color: var(--black-color);
}

/* Properties */

.property-TNotSelect {
	/* para evitar que selexionen el texto */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer */
	user-select: none; /* Standard syntax */
}

span.bar-top::before {
	content: "";
	display: block;
	width: 90%;
	height: 2px;
	margin: 10px 0px 10px 0px;
	background: var(--orange-color);
}
span.bar-right::after {
	content: "";
	display: inline-block;
	width: 90%;
	height: 2px;
	margin: 10px 0px 10px 0px;
	background: var(--orange-color);
}
span.bar-bottom::after {
	content: "";
	display: block;
	width: 90%;
	height: 0.9px;
	margin: 10px 0px 10px 0px;
	background: var(--orange-color);
}
span.bar-left::before {
	content: "";
	display: inline-block;
	width: 90%;
	height: 2px;
	margin: 10px 0px 10px 0px;
	background: var(--orange-color);
}

span.triangle {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 10px solid #fff;
}

.max-width-1555px {
	max-width: 1555px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.width-full {
	width: 100%;
}
.width-1_1 {
	width: 10%;
}
.width-1_2 {
	width: 20%;
}
.width-1_3 {
	width: 30%;
}
.width-1_4 {
	width: 40%;
}
.width-1_5 {
	width: 50%;
}
.width-1_6 {
	width: 60%;
}
.width-1_7 {
	width: 70%;
}
.width-1_8 {
	width: 80%;
}
.width-1_9 {
	width: 90%;
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.center-x {
	justify-content: center;
}

.center-y {
	align-items: center;
}

.between {
	justify-content: space-between;
}

.flex-wrap {
	flex-wrap: wrap;
}

.i-width {
	font-size: 0.9rem;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

@media screen and (min-width: 768px) {
	.i-width {
		font-size: 1.2rem;
	}

	.mW-768-hidden {
		display: none;
	}

	.mW-768-show {
		display: block;
	}

	.flex {
		display: flex;
	}

	.main__section--margin-bottom {
		margin-bottom: 30px;
	}

	.main__section--bgColor {
		border-radius: 8px;
		background: #fff;
		box-shadow: -5px 5px 16px #949494, 5px -5px 16px #e4e4e4;
	}

	.mnw-768px--w-85 {
		width: 85%;
	}
}
